<div class="content">
    <style type="text/css">
        .content {
            padding: 25px 20px;
        }

        /* 订单详情 */
        .order-detail .order-block {
            height: 31px;
            line-height: 31px;
            background: #e8edf0;
            border-radius: 13px;
            font-size: 14px;
            text-align: center;
            position: relative;
            margin-bottom: 50px;
        }

        .order-detail .order-block:before,
        .order-detail .order-block:after {
            content: "";
            position: absolute;
            z-index: 2;
            left: 0;
            top: 0;
            bottom: 0;
            border-radius: 13px;
            background: #18bc9c;
        }

        .order-detail .order-block:after {
            background: #4dc7af;
            z-index: 1;
        }

        .order-detail .order-block.progress-1:before {
            width: 0;
        }

        .order-detail .order-block.progress-1:after {
            width: 20%;
        }

        .order-detail .order-block.progress-2:before {
            width: 20%;
        }

        .order-detail .order-block.progress-2:after {
            width: 40%;
        }

        .order-detail .order-block.progress-3:before {
            width: 40%;
        }

        .order-detail .order-block.progress-3:after {
            width: 60%;
        }

        .order-detail .order-block.progress-4:before {
            width: 60%;
        }

        .order-detail .order-block.progress-4:after {
            width: 80%;
        }

        .order-detail .order-block.progress-5:before {
            width: 100%;
        }

        .order-detail .order-block.progress-5:after {
            width: 100%;
        }

        .order-detail .order-block.progress-5 li:nth-child(5) {
            color: #fff;
        }

        .order-detail .order-block li {
            width: 20%;
            float: left;
            list-style-type: none;
            border-radius: 13px;
            position: relative;
            z-index: 3;
        }

        .order-detail .order-block .tip {
            font-size: 12px;
            padding-top: 10px;
            color: #717171;
        }

        .order-detail .order-block.progress-1 li:nth-child(1),
        .order-detail .order-block.progress-2 li:nth-child(1),
        .order-detail .order-block.progress-3 li:nth-child(1),
        .order-detail .order-block.progress-4 li:nth-child(1),
        .order-detail .order-block.progress-5 li:nth-child(1) {
            color: #fff;
        }

        .order-detail .order-block.progress-2 li:nth-child(2),
        .order-detail .order-block.progress-3 li:nth-child(2),
        .order-detail .order-block.progress-4 li:nth-child(2),
        .order-detail .order-block.progress-5 li:nth-child(2) {
            color: #fff;
        }

        .order-detail .order-block.progress-3 li:nth-child(3),
        .order-detail .order-block.progress-4 li:nth-child(3),
        .order-detail .order-block.progress-5 li:nth-child(3) {
            color: #fff;
        }

        .order-detail .order-block.progress-4 li:nth-child(4),
        .order-detail .order-block.progress-5 li:nth-child(4) {
            color: #fff;
        }

        .order-detail .td__order-price {
            width: 200px;
            display: inline-block;
        }

        .order-head {
            width: 100%;
            padding: 12px 20px;
            margin-top: 60px;
            /* margin-bottom: 20px; */
            /* border-bottom: 1px solid #eef1f5; */
        }

        .order-head:not(:first-child) {
            margin-top: 0;
        }

        .order-head .title {
            position: relative;
            font-size: 1.5rem;
            color: #333;
        }

        .order-head .title::before {
            content: '';
            position: absolute;
            width: 4px;
            height: 14px;
            background: #18bc9c;
            top: 4px;
            left: -12px;
        }

        .table-responsive .table>tbody>tr>td {
            text-align: center;
            vertical-align: middle;
            color: #676767;
        }

        .ordertext {
            margin: 0 30px;
        }

        .table-bordered {
            border: 1px solid #e8edf0;
        }

        .table-bordered>thead>tr>th,
        .table-bordered>tbody>tr>th,
        .table-bordered>tfoot>tr>th,
        .table-bordered>thead>tr>td,
        .table-bordered>tbody>tr>td,
        .table-bordered>tfoot>tr>td {
            border: 1px solid #e8edf0;
        }

        .table thead tr {
            background: #f8f9fb;
        }

        .order_price span {
            width: 70px;
            display: inline-block;
            text-align: right;
        }
    </style>
    <!--{if $row.status==0}1{elseif $row.status==1 || $row.status==3}2{elseif $row.status==4}3{elseif $row.status==8}5{/if}-->
    <div class="order-detail"><!--状态:0=待支付,1=已支付,2=已取消,3=待发货,4=已发货,5=确认收货,6=维权-->
        <ul class="order-block progress-{if $row.status==8}5{elseif $row.status==4}3{elseif $row.status==3 || $row['paytime']!=''}2{else}1{/if}">
            <li>
                <span>下单时间</span>
                <div class="tip">{if $row['createtime']}{:date('Y-m-d H:i:s',$row['createtime'])}{/if}</div>
            </li>
            <li>
                <span>付款</span>
                <div class="tip">{if $row['paytime'] && $row['status']>=1}{:date('Y-m-d H:i:s',$row['paytime'])}{/if}</div>
            </li>
            <li>
                <span>发货</span>
                <div class="tip">{if $row['status']==4}{:date('Y-m-d H:i:s',$row['companytime'])}{/if}</div>
            </li>
            <li>
                <span>收货</span>
                <div class="tip">{if $row['status']==5}{:date('Y-m-d H:i:s',$row['rgoodstime'])}{/if}</div>
            </li>
            <li>
                <span>完成</span>
                <div class="tip">{if $row['status']==5}{:date('Y-m-d H:i:s',$row['companytime'])}{/if}</div>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">商品信息</div>
                <div class="panel-body">
                    <p>
                        <span>订单号：</span>
                        <small>{$row.id}</small>
                        <span style="margin-left: 30px;">买家：</span>
                        <small>{$row.user.nickname?$row.user.nickname:$row.user.username}</small>
                        <strong></strong>
                    </p>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">
                                <div class="th-inner">商品编码</div>
                            </th>
                            <th class="text-center">
                                <div class="th-inner">主图</div>
                            </th>
                            <th class="text-center">
                                <div class="th-inner">商品名称</div>
                            </th>
                            <th class="text-center">
                                <div class="th-inner">购买规格</div>
                            </th>
                            <th class="text-center">
                                <div class="th-inner">数量</div>
                            </th>
                            <th class="text-center">
                                <div class="th-inner">单价</div>
                            </th>
                            <!-- <th class="text-center"><div class="th-inner">总价</div></th> -->
                            <!-- <th class="text-center">
                                <div class="th-inner">运费</div>
                            </th>
                            <th class="text-center">
                                <div class="th-inner">优惠</div>
                            </th> -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{$row.goods_details.allgoods.id}</td>
                            <td><a href="javascript:"><img class="img-sm img-center" src="{$row.goods_details.allgoods.cover_image}"></a></td>
                            <td><strong>{$row.goods_details.allgoods.name}</strong></td>
                            <td>{$row.specs_name}</td>
                            <td>{$row.num}</td>
                            <td>{$row.all_money}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="9" style="text-align: right;">
                               <!-- <span class="ordertext">运费（以最低结算）：<samp class="text-red">￥0.00</samp> </span>
                                <span class="ordertext">优惠金额：<samp class="text-red">￥10.00</samp> </span>-->
                                <span class="ordertext">实际支付：<samp class="text-red">￥{$row.actual_money}</samp></span>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                   <div class="row">
                       <div class="col-xs-12 col-sm-6">
                           <div style="color: #333;">
                               <p style="margin-bottom: 15px;">支付方式：
                                   <span class="label label-info">
                                       {if $row.pay_data==0}
                                       积分
                                       {elseif $row.pay_data==1}
                                            余额
                                        {elseif $row.status==2}
                                            微信
                                        {elseif $row.status==3}
                                        支付宝
                                        {/if}
                                   </span>
                               </p>
                               <!--状态:0=待支付,1=已支付,2=已取消,3=待发货,4=已发货,5=确认收货,6=维权,7=待选择,8=已完成-->
                               <p style="margin-bottom: 15px;">交易状态：
                                   <span>{$row.status_text}
                               </span>
                                   <a {if $row.status!=3 && $row.status!=1 && $row.status!=4}style="display: none;"{/if}href="#" class="label label-success" title="立即发货">立即发货</a>
                               </p>
                               <p {if $row.status!=4}style="display: none;"{/if}>
                               快递公司:<small>{$row.company_name}</small>
                               <span style="margin-left: 40px"> 快递单号:<small>{$row.numbers}</small></span>
                               </p>
                               <input type="hidden" value="{$row.id}" id="id">
                               <!--<p>优惠折扣：测试指定分类						</p>
                               <p>配送方式：<small>未发货</small></p>-->
                           </div>
                       </div>

                       <div class="col-xs-12 col-sm-6">
                           <style>
                               .display-flex {
                                   display: flex;
                                   align-items: center;
                               }
                               .order-detail-item-container {
                                   margin-bottom: 5px;
                               }
                           </style>
                           <div class="fix_user">
                               <p>兑换用户</p>
                               <div class="display-flex order-detail-item-container">
                                   <img src="{$row.user.avatar}" style="width: 54px; height: 54px; border-radius: 50%; margin-right: 20px;"> <div>
                                   <div class="display-flex order-detail-item-container">
                                       <div class="title-span-width">虚拟ID :</div>
                                       <div class="delivery-margin-left theme-color cursor-pointer" style="text-decoration: underline;">
                                           {$row.user.fictitious_id}</div>
                                   </div>
                                   <div class="display-flex order-detail-item-container">
                                       <div class="title-span-width">昵称:</div>
                                       <div class="delivery-margin-left">{$row.user.nickname?$row.user.nickname:$row.user.username}</div>
                                   </div>
                                   <div class="display-flex order-detail-item-container">
                                       <div class="title-span-width">手机号:</div>
                                       <div class="delivery-margin-left">{$row.user.mobile}</div>
                                   </div>
                               </div>
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">收货地址</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>收货人</td>
                            <td>{$row.address.name}</td>
                        </tr>
                        <tr>
                            <td>联系电话</td>
                            <td>{$row.address.phone}</td>
                        </tr>
                        <tr>
                            <td>收货地址</td>
                            <td>{$row.address.province_city_area}
                                <p>详细地址:{$row.address.address}</p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">付款信息</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>订单号</td>
                            <td>{$row.id}</td>
                        </tr>
                        <tr>
                            <td>支付方式</td>
                            <td>
                                {if $row.pay_data==0}
                                积分
                                {elseif $row.pay_data==1}
                                余额
                                {elseif $row.status==2}
                                微信
                                {elseif $row.status==3}
                                支付宝
                                {/if}
                            </td>
                        </tr>
                        <tr>
                            <td>交易订单号</td>
                            <td>{$row.out_trade_no}</td>
                        </tr>
                        <tr>
                            <td>付款状态</td>
                            <td>{if $row.status==0}
                                待支付
                                {elseif $row.status==1}
                                已支付
                                {elseif $row.status==2}
                                已取消
                                {elseif $row.status==3}
                                待发货
                                {elseif $row.status==4}
                                已发货
                                {elseif $row.status==5}
                                确认收货
                                {elseif $row.status==6}
                                维权
                                {/if}</td>
                        </tr>
                        <tr>
                            <td>创建时间</td>
                            <td>{:date('Y-m-d H:i:s',$row['createtime'])}</td>
                        </tr>
                        <tr>
                            <td>付款时间</td>
                            <td>{if $row['paytime']}{:date('Y-m-d H:i:s',$row['paytime'])}{/if}</td>
                        </tr>
                        <tr>
                            <td>发货时间</td>
                            <td>{if $row['companytime']}{:date('Y-m-d H:i:s',$row['companytime'])}{/if}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>





    <!--<div class="hide layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">关闭</button>
        </div>
    </div>-->
</div>